@model NotificationDto

@{
    ViewBag.Title = "Message Details";
}

<div class="container">
    <h4 class="modal-title">Message</h4>
    <p>
        Name: @Model.Name<br>
        Surname: @Model.Email<br>
        Phone: @Model.Subject
    </p>

    <p>
        @Model.Text
    </p>

    <form asp-controller="Admin" asp-action="DeleteNotice" asp-route-id="@Model.Id" method="post">

        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
            <span>Are you sure you want to delete it?</span>
            <button type="submit" class="btn btn-danger m-1">Так</button>
            <a href="#" class="btn btn-primary m-1"
               onclick="confirmDelete('@Model.Id', false)">Ні</a>
        </span>

        <span id="deleteSpan_@Model.Id">
            <a href="#" class="btn btn-danger m-1"
               onclick="confirmDelete('@Model.Id', true)">Видалити</a>
        </span>
    </form>

</div>
