@model OrderDto
@inject SignInManager<Customer> _signInManager;

@{
    ViewBag.Title = "Order Details";
}

<div class="container">
    <h4 class="modal-title">Your Order</h4>
    @if (Model.DeliverAddress != "By myself")
    {

    }
    else
    {
        <p>
            Name: @Model.Name<br>
            Surname: @Model.Surname<br>
            Phone: @Model.Phone<br>
            Deliver: @Model.Deliver<br>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Sum</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Books.Count; i++)
            {
                <tr>
                    <td><img src=@Model.Books[i].ImageUrl class="handler-img" asp-append-version="true" alt="book image" /></td>
                    <td>@Model.Books[i].Title</td>
                    <td>@Model.Books[i].Price</td>
                    <td>
                        @Model.Books[i].Amount
                    </td>
                    <td>
                        @Model.Books[i].Price * @Model.Books[i].Amount
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <h2>Загальна сума:</h2>
    <p>
        @Model.TotalSum
    </p>

    <form asp-controller="Order" asp-action="Delete" asp-route-id="@Model.Id" method="post">

        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
            <span>Are you sure you want to delete it?</span>
            <button type="submit" class="btn btn-danger m-1">Так</button>
            <a href="#" class="btn btn-primary m-1"
               onclick="confirmDelete('@Model.Id', false)">Ні</a>
        </span>

        <span id="deleteSpan_@Model.Id">
            <a href="#" class="btn btn-danger m-1"
               onclick="confirmDelete('@Model.Id', true)">Видалити</a>
        </span>
    </form>

</div>
